<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VisionShop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>miniShoppingList (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>miniShoppingList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>881503451F365CB700029EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8815035C1F365CB700029EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>881503671F365CB700029EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88C338151F45239F00C9ACEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
